In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from datetime import datetime,date,timedelta

In [2]:
rds_connection_string = "root:12345678@127.0.0.1/fires"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [7]:
wildfire_df[wildfire_df["containment_date"].isnull()].iloc[0:10,]

,index,discovery_date,containment_date,size,class,fire_year,fire_name
821,821,2005-12-05,NaT,0.1,A,2005,PAINTED
2035,2035,2006-08-23,NaT,7.0,B,2006,NEILSON
2203,2203,2006-09-27,NaT,5.0,B,2006,WHEELER
2235,2235,2006-06-26,NaT,1247.0,F,2006,HARVEY
2294,2294,2006-07-23,NaT,5792.0,G,2006,TITUS
2524,2524,2006-08-22,NaT,0.1,A,2006,BEAR
2599,2599,2006-09-03,NaT,178.0,D,2006,SAND FLAT
2600,2600,2006-07-21,NaT,0.1,A,2006,DEER
2924,2924,2006-09-29,NaT,0.5,B,2006,BLUE
3816,3816,2007-09-24,NaT,0.1,A,2007,WILLIS

In [8]:
for index, row in wildfire_df.iterrows():
    if pd.isnull(row["containment_date"]):
        this_class = row["class"]
        wildfire_df.loc[index,"containment_date"] = row["discovery_date"] + pd.Timedelta(str(duration_class_dict[this_class]) + " days")

In [ ]:
wildfire_df[wildfire_df["containment_date"].isnull()]

In [ ]:
wildfire_df.to_sql(name="cleaned_wildfire_data", con=engine, if_exists="append", index=True)

In [ ]:
wildfire_df.head()

Merge!

In [ ]:
merged_data_df = airquality_df.merge(wildfire_df,left_on='date', right_on="containment_date", how='left')

In [ ]:
# and write it to the database

In [ ]:
# and write it to the database
merged_data_df.to_sql(name="fire_and_air_data", con=engine, if_exists="append", index=True)