In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
rds_connection_string = "root:12345678@127.0.0.1/fires"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [3]:
data = pd.read_sql("select * from fire_and_air_data", con=engine)
data.head()

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,level_0,date,overall_aqi,site_name,year,index,discovery_date,containment_date,size,class,fire_year,fire_name
0,0,2001-01-01,153,San Francisco,2001,26892.0,2001-01-01,2001-01-01,0.1,A,2001.0,LUCERNE
1,1,2001-01-01,153,San Francisco,2001,27620.0,2001-01-01,2001-01-01,0.1,A,2001.0,DEBRIS 2
2,2,2001-01-01,153,San Francisco,2001,45869.0,2001-01-01,2001-01-01,0.1,A,2001.0,LP HILL
3,3,2001-01-01,153,San Francisco,2001,60502.0,2001-01-01,2001-01-01,0.1,A,2001.0,PGE 1
4,4,2001-01-01,153,San Francisco,2001,60589.0,2001-01-01,2001-01-01,0.1,A,2001.0,PUMP HOUSE

In [21]:
grouped = data.groupby(['date', 'fire_name'])

In [25]:
grouped.first()

                                      level_0  overall_aqi      site_name  \
date       fire_name
2001-01-01 DEBRIS 2                         1          153  San Francisco
           HENSHAW                          5          153  San Francisco
           LP HILL                          2          153  San Francisco
           LUCERNE                          0          153  San Francisco
           PGE 1                            3          153  San Francisco
           PUMP HOUSE                       4          153  San Francisco
2001-01-02 BLM 1                            8          140  San Francisco
           BUCKHORN                         7          140  San Francisco
           CATALINA                         6          140  San Francisco
           VAN BUREN                        9          140  San Francisco
2001-01-03 ALDER                           13          140  San Francisco
           CHAPPARAL                       14          140  San Francisco
           LILAC                           11          140  San Francisco
           PATHFINDER                      10          140  San Francisco
           UNNAMED FIRE 0663               12          140  San Francisco
2001-01-04 BRENTWOOD                       16          107  San Francisco
           BRIDGE                          17          107  San Francisco
           DOGWOOD                         15          107  San Francisco
           FOWLER                          24          107  San Francisco
           LOCAL                           22          107  San Francisco
           LOCAL FIRE                      21          107  San Francisco
           QUINN                           23          107  San Francisco
           STATE FIRE                      19          107  San Francisco
           UNNAMED FIRE 0664               18          107  San Francisco
           UNNAMED FIRE 1213               20          107  San Francisco
2001-01-05 FIRST                           26          124  San Francisco
           GLICK                           31          124  San Francisco
           LOCAL                           32          124  San Francisco
           MCCOY                           33          124  San Francisco
           SESPE                           25          124  San Francisco
...                                       ...          ...            ...
2014-12-21 HULL AV / ATWATER JORDAN     56047           43     San Rafael
2014-12-22 CORONA AV  NORC              56049           45   Oakland West
           GRAY FOX DR  CYLK            56050           45   Oakland West
2014-12-23 DIAMOND                      56053           47     San Rafael
           GARNER                       56052           47     San Rafael
           HAPPY                        56051           47     San Rafael
           HWY 76  / RINCON RANCHO 3    56056           47     San Rafael
           NORTH SHORE DR  FAWNSKI 3    56055           47     San Rafael
           YNEZ RD / RANCHO CALIFORN    56054           47     San Rafael
2014-12-24 JEFFERSON ST / AVE 50        56058           48     San Rafael
           SEA                          56057           48     San Rafael
2014-12-25 AVE 66  / JACKSON ST         56063           35     San Rafael
           CHRISTMAS                    56059           35     San Rafael
           OAK BOTTOM                   56060           35     San Rafael
           PALO                         56061           35     San Rafael
           TRANSIT AV  HIGH             56062           35     San Rafael
2014-12-26 COBB                         56065           47     San Rafael
           MOVIE                        56064           47     San Rafael
2014-12-27 BEE                          56066           55   Oakland West
           HOGSBACK                     56067           55   Oakland West
           MIDDLETON ST / HARRISON S    56068           55   Oakland West
2014-12-28 GRAND AV  LVIL               56070           68      Livermore
           MOUNT                        56069           68      Livermore
2014-12-30 BURL CT  SONORA              56075           31   Oakland West
           COTTONWOOD                   56072           31   Oakland West
           LAKEVIEW DR  RIM_FOREST 5    56073           31   Oakland West
           MELVIN                       56078           31   Oakland West
           SADDLEBACK                   56077           31   Oakland West
           SMITTY                       56074           31   Oakland West
           STAGE                        56076           31   Oakland West

                                      year     index discovery_date  \
date       fire_name
2001-01-01 DEBRIS 2                   2001   27620.0     2001-01-01
           HENSHAW                    2001   63860.0     2001-01-01
           LP HILL                    2001   45869.0     2001-01-01
           LUCERNE                    2001   26892.0     2001-01-01
           PGE 1                      2001   60502.0     2001-01-01
           PUMP HOUSE                 2001   60589.0     2001-01-01
2001-01-02 BLM 1                      2001   45870.0     2001-01-02
           BUCKHORN                   2001   27629.0     2001-01-02
           CATALINA                   2001   25914.0     2001-01-02
           VAN BUREN                  2001   50532.0     2001-01-02
2001-01-03 ALDER                      2001   63678.0     2001-01-03
           CHAPPARAL                  2001   63912.0     2001-01-03
           LILAC                      2001   44464.0     2001-01-03
           PATHFINDER                 2001   26878.0     2001-01-03
           UNNAMED FIRE 0663          2001   45871.0     2001-01-03
2001-01-04 BRENTWOOD                  2001   26894.0     2001-01-04
           BRIDGE                     2001   27636.0     2001-01-04
           DOGWOOD                    2001   26893.0     2001-01-02
           FOWLER                     2001   60581.0     2001-01-04
           LOCAL                      2001   50536.0     2001-01-04
           LOCAL FIRE                 2001   50535.0     2001-01-04
           QUINN                      2001   54553.0     2001-01-04
           STATE FIRE                 2001   50533.0     2001-01-04
           UNNAMED FIRE 0664          2001   45873.0     2001-01-04
           UNNAMED FIRE 1213          2001   50534.0     2001-01-04
2001-01-05 FIRST                      2001   26605.0     2001-01-05
           GLICK                      2001   45875.0     2001-01-05
           LOCAL                      2001   50537.0     2001-01-05
           MCCOY                      2001   63686.0     2001-01-05
           SESPE                      2001   26022.0     2001-01-05
...                                    ...       ...            ...
2014-12-21 HULL AV / ATWATER JORDAN   2014  172276.0     2014-12-20
2014-12-22 CORONA AV  NORC            2014  172278.0     2014-12-22
           GRAY FOX DR  CYLK          2014  174706.0     2014-12-22
2014-12-23 DIAMOND                    2014  172536.0     2014-12-23
           GARNER                     2014  170790.0     2014-12-23
           HAPPY                      2014  170789.0     2014-12-23
           HWY 76  / RINCON RANCHO 3  2014  184336.0     2014-12-23
           NORTH SHORE DR  FAWNSKI 3  2014  173595.0     2014-12-23
           YNEZ RD / RANCHO CALIFORN  2014  173594.0     2014-12-23
2014-12-24 JEFFERSON ST / AVE 50      2014  171634.0     2014-12-24
           SEA                        2014  170788.0     2014-12-24
2014-12-25 AVE 66  / JACKSON ST       2014  174708.0     2014-12-25
           CHRISTMAS                  2014  169310.0     2014-12-25
           OAK BOTTOM                 2014  170017.0     2014-12-25
           PALO                       2014  173596.0     2014-12-25
           TRANSIT AV  HIGH           2014  174707.0     2014-12-25
2014-12-26 COBB                       2014  169308.0     2014-12-26
           MOVIE                      2014  169275.0     2014-12-25
2014-12-27 BEE                        2014  169166.0     2014-12-27
           HOGSBACK                   2014  169276.0     2014-12-27
           MIDDLETON ST / HARRISON S  2014  172279.0     2014-12-27
2014-12-28 GRAND AV  LVIL             2014  173597.0     2014-12-28
           MOUNT                      2014  172280.0     2014-12-28
2014-12-30 BURL CT  SONORA            2014  173600.0     2014-12-30
           COTTONWOOD                 2014  170544.0     2014-12-30
           LAKEVIEW DR  RIM_FOREST 5  2014  173598.0     2014-12-30
           MELVIN                     2014  174709.0     2014-12-30
           SADDLEBACK                 2014  173602.0     2014-12-30
           SMITTY                     2014  173599.0     2014-12-30
           STAGE                      2014  173601.0     2014-12-30

                                     containment_date   size class  fire_year
date       fire_name
2001-01-01 DEBRIS 2                        2001-01-01   0.10     A     2001.0
           HENSHAW                         2001-01-01   1.00     B     2001.0
           LP HILL                         2001-01-01   0.10     A     2001.0
           LUCERNE                         2001-01-01   0.10     A     2001.0
           PGE 1                           2001-01-01   0.10     A     2001.0
           PUMP HOUSE                      2001-01-01   0.10     A     2001.0
2001-01-02 BLM 1                           2001-01-02   0.10     A     2001.0
           BUCKHORN                        2001-01-02   0.10     A     2001.0
           CATALINA                        2001-01-02   0.10     A     2001.0
           VAN BUREN                       2001-01-02   0.10     A     2001.0
2001-01-03 ALDER                           2001-01-03   0.10     A     2001.0
           CHAPPARAL                       2001-01-03   0.10     A     2001.0
           LILAC                           2001-01-03   0.10     A     2001.0
           PATHFINDER                      2001-01-03   0.10     A     2001.0
           UNNAMED FIRE 0663               2001-01-03   0.10     A     2001.0
2001-01-04 BRENTWOOD                       2001-01-04   0.20     A     2001.0
           BRIDGE                          2001-01-04   1.00     B     2001.0
           DOGWOOD                         2001-01-04   3.00     B     2001.0
           FOWLER                          2001-01-04   0.20     A     2001.0
           LOCAL                           2001-01-04   0.10     A     2001.0
           LOCAL FIRE                      2001-01-04   0.10     A     2001.0
           QUINN                           2001-01-04   4.00     B     2001.0
           STATE FIRE                      2001-01-04   0.10     A     2001.0
           UNNAMED FIRE 0664               2001-01-04   0.10     A     2001.0
           UNNAMED FIRE 1213               2001-01-04   1.00     B     2001.0
2001-01-05 FIRST                           2001-01-05   1.00     B     2001.0
           GLICK                           2001-01-05  80.00     C     2001.0
           LOCAL                           2001-01-05   0.10     A     2001.0
           MCCOY                           2001-01-05   0.10     A     2001.0
           SESPE                           2001-01-05  25.00     C     2001.0
...                                               ...    ...   ...        ...
2014-12-21 HULL AV / ATWATER JORDAN        2014-12-21   0.01     A     2014.0
2014-12-22 CORONA AV  NORC                 2014-12-22   1.00     B     2014.0
           GRAY FOX DR  CYLK               2014-12-22   0.01     A     2014.0
2014-12-23 DIAMOND                         2014-12-23   1.00     B     2014.0
           GARNER                          2014-12-23   0.10     A     2014.0
           HAPPY                           2014-12-23   0.10     A     2014.0
           HWY 76  / RINCON RANCHO 3       2014-12-23   1.00     B     2014.0
           NORTH SHORE DR  FAWNSKI 3       2014-12-23   0.10     A     2014.0
           YNEZ RD / RANCHO CALIFORN       2014-12-23   0.10     A     2014.0
2014-12-24 JEFFERSON ST / AVE 50           2014-12-24   1.00     B     2014.0
           SEA                             2014-12-24   0.10     A     2014.0
2014-12-25 AVE 66  / JACKSON ST            2014-12-25   0.10     A     2014.0
           CHRISTMAS                       2014-12-25   0.10     A     2014.0
           OAK BOTTOM                      2014-12-25   1.00     B     2014.0
           PALO                            2014-12-25   0.10     A     2014.0
           TRANSIT AV  HIGH                2014-12-25   0.10     A     2014.0
2014-12-26 COBB                            2014-12-26   0.10     A     2014.0
           MOVIE                           2014-12-26   0.10     A     2014.0
2014-12-27 BEE                             2014-12-27   0.10     A     2014.0
           HOGSBACK                        2014-12-27   0.10     A     2014.0
           MIDDLETON ST / HARRISON S       2014-12-27   0.05     A     2014.0
2014-12-28 GRAND AV  LVIL                  2014-12-28   0.01     A     2014.0
           MOUNT                           2014-12-28   0.10     A     2014.0
2014-12-30 BURL CT  SONORA                 2014-12-30   0.01     A     2014.0
           COTTONWOOD                      2014-12-30   2.50     B     2014.0
           LAKEVIEW DR  RIM_FOREST 5       2014-12-30   0.10     A     2014.0
           MELVIN                          2014-12-30   0.01     A     2014.0
           SADDLEBACK                      2014-12-30   0.01     A     2014.0
           SMITTY                          2014-12-30   0.01     A     2014.0
           STAGE                           2014-12-30   0.25     A     2014.0

[52272 rows x 10 columns]

In [36]:
size_group = grouped['size']

In [37]:
size_group.first()

date        fire_name
2001-01-01  DEBRIS 2                      0.10
            HENSHAW                       1.00
            LP HILL                       0.10
            LUCERNE                       0.10
            PGE 1                         0.10
            PUMP HOUSE                    0.10
2001-01-02  BLM 1                         0.10
            BUCKHORN                      0.10
            CATALINA                      0.10
            VAN BUREN                     0.10
2001-01-03  ALDER                         0.10
            CHAPPARAL                     0.10
            LILAC                         0.10
            PATHFINDER                    0.10
            UNNAMED FIRE 0663             0.10
2001-01-04  BRENTWOOD                     0.20
            BRIDGE                        1.00
            DOGWOOD                       3.00
            FOWLER                        0.20
            LOCAL                         0.10
            LOCAL FIRE                    0.10
            QUINN                         4.00
            STATE FIRE                    0.10
            UNNAMED FIRE 0664             0.10
            UNNAMED FIRE 1213             1.00
2001-01-05  FIRST                         1.00
            GLICK                        80.00
            LOCAL                         0.10
            MCCOY                         0.10
            SESPE                        25.00
                                         ...
2014-12-21  HULL AV / ATWATER JORDAN      0.01
2014-12-22  CORONA AV  NORC               1.00
            GRAY FOX DR  CYLK             0.01
2014-12-23  DIAMOND                       1.00
            GARNER                        0.10
            HAPPY                         0.10
            HWY 76  / RINCON RANCHO 3     1.00
            NORTH SHORE DR  FAWNSKI 3     0.10
            YNEZ RD / RANCHO CALIFORN     0.10
2014-12-24  JEFFERSON ST / AVE 50         1.00
            SEA                           0.10
2014-12-25  AVE 66  / JACKSON ST          0.10
            CHRISTMAS                     0.10
            OAK BOTTOM                    1.00
            PALO                          0.10
            TRANSIT AV  HIGH              0.10
2014-12-26  COBB                          0.10
            MOVIE                         0.10
2014-12-27  BEE                           0.10
            HOGSBACK                      0.10
            MIDDLETON ST / HARRISON S     0.05
2014-12-28  GRAND AV  LVIL                0.01
            MOUNT                         0.10
2014-12-30  BURL CT  SONORA               0.01
            COTTONWOOD                    2.50
            LAKEVIEW DR  RIM_FOREST 5     0.10
            MELVIN                        0.01
            SADDLEBACK                    0.01
            SMITTY                        0.01
            STAGE                         0.25
Name: size, Length: 52272, dtype: float64

In [41]:
size_group.size()

date        fire_name
2001-01-01  DEBRIS 2                     2
            HENSHAW                      2
            LP HILL                      2
            LUCERNE                      2
            PGE 1                        2
            PUMP HOUSE                   2
2001-01-02  BLM 1                        2
            BUCKHORN                     2
            CATALINA                     2
            VAN BUREN                    2
2001-01-03  ALDER                        2
            CHAPPARAL                    2
            LILAC                        2
            PATHFINDER                   2
            UNNAMED FIRE 0663            2
2001-01-04  BRENTWOOD                    2
            BRIDGE                       2
            DOGWOOD                      2
            FOWLER                       2
            LOCAL                        2
            LOCAL FIRE                   2
            QUINN                        2
            STATE FIRE                   2
            UNNAMED FIRE 0664            2
            UNNAMED FIRE 1213            2
2001-01-05  FIRST                        2
            GLICK                        2
            LOCAL                        2
            MCCOY                        2
            SESPE                        2
                                        ..
2014-12-21  HULL AV / ATWATER JORDAN     2
2014-12-22  CORONA AV  NORC              2
            GRAY FOX DR  CYLK            2
2014-12-23  DIAMOND                      2
            GARNER                       2
            HAPPY                        2
            HWY 76  / RINCON RANCHO 3    2
            NORTH SHORE DR  FAWNSKI 3    2
            YNEZ RD / RANCHO CALIFORN    2
2014-12-24  JEFFERSON ST / AVE 50        2
            SEA                          2
2014-12-25  AVE 66  / JACKSON ST         2
            CHRISTMAS                    2
            OAK BOTTOM                   2
            PALO                         2
            TRANSIT AV  HIGH             2
2014-12-26  COBB                         2
            MOVIE                        2
2014-12-27  BEE                          2
            HOGSBACK                     2
            MIDDLETON ST / HARRISON S    2
2014-12-28  GRAND AV  LVIL               2
            MOUNT                        2
2014-12-30  BURL CT  SONORA              2
            COTTONWOOD                   2
            LAKEVIEW DR  RIM_FOREST 5    2
            MELVIN                       2
            SADDLEBACK                   2
            SMITTY                       2
            STAGE                        2
Name: size, Length: 52272, dtype: int64

In [45]:
# grouping by fire

fire_group = data.groupby(['fire_name', 'date'])

In [46]:
fire_group.size()

fire_name                     date
" I15"                        2010-08-07    2
"15"                          2009-07-19    2
                              2010-07-13    2
"58"                          2003-08-13    2
"66"                          2007-11-03    2
# 9 TABOR LN                  2013-10-31    2
#5                            2010-10-17    2
#551                          2011-09-03    2
#8 CONCOW BLVD                2013-09-13    2
(1-23)GOLD                    2009-08-03    2
(1-28)                        2009-08-03    2
(1-30) CHENNEY                2009-08-09    2
(1-33)WILLARD                 2009-08-09    2
(1-39) RED                    2009-08-09    2
(1-8) ROOP                    2009-08-04    2
(2-1) INDIAN                  2009-08-05    2
(2-17) TRANSFER               2009-08-09    2
(2-19) HANNS                  2009-08-07    2
(3-22) SUNFLOWER              2009-08-09    2
(3-24) BOBCREEK               2009-08-09    2
(3-31) COYOTE                 2009-08-03    2
(3-33) LITTLE                 2009-08-07    2
(3-35) EGG                    2009-08-09    2
.BEAR SPOT 2                  2004-08-12    2
.STEELHEAD                    2006-10-21    2
010B                          2009-05-17    2
08-SAC-SAC RIVER-FLYNN #1     2007-10-06    2
09-SAC-RIV- CAPAY GATE #4 WF  2009-05-23    2
09-SAC-RIV-OHM #1 WF          2009-05-25    2
09-SAC-SAC-LAMBERT WF         2009-05-11    2
                                           ..
ZING                          2003-07-22    2
ZINGIRA                       2005-11-02    2
ZION                          2001-05-25    2
                              2003-09-04    2
                              2014-07-13    2
ZOGG                          2004-05-17    2
                              2014-10-21    2
ZOLTAR WF                     2009-04-19    2
ZOOK                          2012-08-05    2
ZORA                          2005-07-05    2
ZOT                           2001-07-11    2
                              2002-06-01    2
                              2003-07-25    2
                              2005-06-25    2
                              2007-10-29    2
                              2008-06-21    2
                              2010-07-09    2
                              2011-05-23    2
                              2013-05-10    2
                              2014-06-02    2
ZOTT                          2004-07-01    2
ZUGER                         2003-10-25    2
ZULU                          2006-08-06    2
ZUMARIDGE                     2004-06-01    2
ZUMWALT                       2002-07-14    2
                              2003-09-03    2
ZUNI                          2001-02-04    2
ZYZZX 1                       2005-05-15    2
ZZYZX 1                       2004-04-28    2
_RUNNING                      2013-08-04    2
Length: 52272, dtype: int64