In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
rds_connection_string = "root:12345678@127.0.0.1/fires"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [3]:
combined_df = pd.read_sql("select * from fire_and_air_data", con=engine)
combined_df.head(20)

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,date,overall_aqi,site_name,year,fire_id,fire_name,discovery_date,containment_date,size,class,fire_year
0,2014-01-01,109,Oakland West,2014,171166.0,PIUMA,2014-01-01,2014-01-01,0.3,B,2014.0
1,2014-01-01,109,Oakland West,2014,171798.0,None,2014-01-01,2014-01-01,0.9,B,2014.0
2,2014-01-01,109,Oakland West,2014,172306.0,None,2014-01-01,2014-01-01,60.0,C,2014.0
3,2014-01-01,109,Oakland West,2014,172307.0,None,2014-01-01,2014-01-01,0.3,B,2014.0
4,2014-01-01,109,Oakland West,2014,172308.0,None,2014-01-01,2014-01-01,1.0,B,2014.0
5,2014-01-01,109,Oakland West,2014,172309.0,None,2014-01-01,2014-01-01,1.0,B,2014.0
6,2014-01-01,109,Oakland West,2014,172573.0,None,2014-01-01,2014-01-01,0.1,A,2014.0
7,2014-01-01,109,Oakland West,2014,172683.0,None,2014-01-01,2014-01-01,0.1,A,2014.0
8,2014-01-01,109,Oakland West,2014,173659.0,None,2014-01-01,2014-01-01,3.5,B,2014.0
9,2014-01-01,109,Oakland West,2014,173660.0,None,2014-01-01,2014-01-01,0.3,B,2014.0
10,2014-01-01,109,Oakland West,2014,173661.0,None,2014-01-01,2014-01-01,1.8,B,2014.0
11,2014-01-01,109,Oakland West,2014,185921.0,REDTAIL/TAC 3,2014-01-01,2014-01-01,1.0,B,2014.0
12,2014-01-02,80,Oakland West,2014,171679.0,None,2014-01-02,2014-01-02,0.1,A,2014.0
13,2014-01-02,80,Oakland West,2014,171680.0,None,2014-01-02,2014-01-02,1.0,B,2014.0
14,2014-01-02,80,Oakland West,2014,171799.0,None,2014-01-02,2014-01-02,1.0,B,2014.0
15,2014-01-02,80,Oakland West,2014,171800.0,None,2014-01-02,2014-01-02,1.0,B,2014.0
16,2014-01-02,80,Oakland West,2014,171801.0,None,2014-01-02,2014-01-02,10.0,C,2014.0
17,2014-01-02,80,Oakland West,2014,171802.0,None,2014-01-02,2014-01-02,0.1,A,2014.0
18,2014-01-02,80,Oakland West,2014,172684.0,None,2014-01-02,2014-01-02,1.0,B,2014.0
19,2014-01-02,80,Oakland West,2014,172685.0,None,2014-01-02,2014-01-02,0.1,A,2014.0

In [4]:
combined_df = combined_df[['date', 'overall_aqi', 'fire_id', 'size']]

In [6]:
type(combined_df)

pandas.core.frame.DataFrame

In [5]:
acres_per_day_df = combined_df('date')['size'].sum().to_frame().reset_index()

TypeError: 'DataFrame' object is not callable

In [ ]:
df1 = df.groupby('product')['value'].sum().to_frame().reset_index()

In [ ]:
acres_per_day_df = data.groupby('date')['size'].sum().to_frame()

In [ ]:
type(acres_per_day_df)

In [ ]:
acres_per_day_df.head()

In [ ]:
data.head()

In [ ]:
grouped.first()

In [ ]:
grouped.size()

In [ ]:
size_group = grouped['size']

In [ ]:
size_group.first()

In [ ]:
size_group.size()

In [ ]:
# grouping by fire

fire_group = data.groupby(['fire_name', 'date'])

In [ ]:
fire_group.size()