In [1]:
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
rds_connection_string = "root:12345678@127.0.0.1/fires"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [3]:
data = pd.read_sql("select * from acres_and_air_data where year=2014", con=engine)
data.head()

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

   index       date  overall_aqi     site_name  year   size
0   4745 2014-01-01          109  Oakland West  2014  70.30
1   4746 2014-01-02           80  Oakland West  2014  14.40
2   4747 2014-01-03           80  Oakland West  2014   9.35
3   4748 2014-01-04           67  Oakland West  2014  31.70
4   4749 2014-01-05           56     Livermore  2014  17.01

In [4]:
data = data[['date', 'overall_aqi', 'size']]
data.columns = ["date", "air_quality", "acres_burned"]
data.head()

        date  air_quality  acres_burned
0 2014-01-01          109         70.30
1 2014-01-02           80         14.40
2 2014-01-03           80          9.35
3 2014-01-04           67         31.70
4 2014-01-05           56         17.01

In [5]:
data.sort_values(by=['acres_burned'], inplace=True, ascending=False)

In [6]:
data.head()

          date  air_quality  acres_burned
272 2014-09-30           38     115283.52
235 2014-08-24           37      48456.10
267 2014-09-25           37      33774.81
280 2014-10-08           50      32498.74
226 2014-08-15           40      31891.54

In [7]:
# Assign the data to X and y

X = data[["acres_burned"]]
y = data["air_quality"].values.reshape(-1,1)
print(X.shape, y.shape)

(365, 1) (365, 1)

In [8]:
# Use train_test_split to create training and testing data

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
# Create the model using LinearRegression

model = LinearRegression()

In [10]:
# Fit the model to the training data and calculate the scores for the training and testing data

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.012180018080772514
Testing Score: -0.04346156941945112