In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
rds_connection_string = "root:12345678@127.0.0.1/fires"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [3]:
data = pd.read_sql("select * from fire_and_air_data where fire_year > 2012", con=engine)
data.head()

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,date,overall_aqi,site_name,year,fire_id,fire_name,discovery_date,containment_date,size,class,fire_year,distance
0,2013-01-01,66,Redwood City,2013,86781.0,VOYAGER,2013-01-01,2013-01-01,0.1,A,2013.0,304.658747
1,2013-01-01,66,Redwood City,2013,89616.0,None,2013-01-01,2013-01-01,1.0,B,2013.0,395.689071
2,2013-01-01,66,Redwood City,2013,89889.0,None,2013-01-01,2013-01-01,1.0,B,2013.0,439.916187
3,2013-01-02,61,Livermore,2013,87714.0,WALTERS,2013-01-02,2013-01-02,0.3,B,2013.0,524.945435
4,2013-01-05,85,San Rafael,2013,88404.0,BECKWITH,2013-01-05,2013-01-05,1.0,B,2013.0,67.354106

In [4]:
year = pd.read_sql("select distinct fire_year from fire_and_air_data", con=engine)
year.head()

   fire_year
0     2001.0
1        NaN
2     2002.0
3     2003.0
4     2004.0

In [5]:
data = data[['date', 'overall_aqi', 'fire_id', 'size', 'distance']]

In [6]:
bins = [0, 50, 100, 150, 200, 250, 10000000000000000]

In [7]:
labels = ['within 50', 'within 100', 'within 150', 'within 200', 'within 250', 'bigger then 250']

In [8]:
data['bins'] = pd.cut(data['distance'], bins=bins, labels=labels)

In [9]:
data.head()

        date  overall_aqi  fire_id  size    distance             bins
0 2013-01-01           66  86781.0   0.1  304.658747  bigger then 250
1 2013-01-01           66  89616.0   1.0  395.689071  bigger then 250
2 2013-01-01           66  89889.0   1.0  439.916187  bigger then 250
3 2013-01-02           61  87714.0   0.3  524.945435  bigger then 250
4 2013-01-05           85  88404.0   1.0   67.354106       within 100

In [37]:
# Return a grouped by object (with no aggregate operation)...
# BY Bins, then date
new_group = data.groupby(['date','bins'])

In [51]:
data.columns.values.tolist()

['date', 'overall_aqi', 'fire_id', 'size', 'distance', 'bins']

In [53]:
engine.execute('''

SELECT *
FROM
    (SELECT date, SUM(distance) total_distance
    FROM acres_and_air_data
    GROUP BY 1
    ORDER BY 1 ASC) acres_fire_size
JOIN
    (SELECT DISTINCT date, distance, overall_aqi
    FROM acres_and_air_data) unique_aqi
ON acres_fire_size.date = unique_aqi.date
LIMIT 10
''').fetchall()

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'distance' in 'field list'") [SQL: '\n\nSELECT *\nFROM\n    (SELECT date, SUM(distance) total_distance\n    FROM acres_and_air_data\n    GROUP BY 1\n    ORDER BY 1 ASC) acres_fire_size\nJOIN\n    (SELECT DISTINCT date, distance, overall_aqi\n    FROM acres_and_air_data) unique_aqi\nON acres_fire_size.date = unique_aqi.date\nLIMIT 10\n'] (Background on this error at: http://sqlalche.me/e/2j85)

In [39]:
#For the grouped, we then sum. 
new_group_agg = new_group.agg(np.average)
new_group_agg.head(30)

                            overall_aqi   fire_id  size     distance
date       bins
2013-01-01 within 50                NaN       NaN   NaN          NaN
           within 100               NaN       NaN   NaN          NaN
           within 150               NaN       NaN   NaN          NaN
           within 200               NaN       NaN   NaN          NaN
           within 250               NaN       NaN   NaN          NaN
           bigger then 250        198.0  266286.0   2.1  1140.264005
2013-01-02 within 50                NaN       NaN   NaN          NaN
           within 100               NaN       NaN   NaN          NaN
           within 150               NaN       NaN   NaN          NaN
           within 200               NaN       NaN   NaN          NaN
           within 250               NaN       NaN   NaN          NaN
           bigger then 250         61.0   87714.0   0.3   524.945435
2013-01-05 within 50                NaN       NaN   NaN          NaN
           within 100              85.0   88404.0   1.0    67.354106
           within 150              85.0   89500.0   1.0   112.686684
           within 200              85.0   88581.0   0.1   176.053789
           within 250               NaN       NaN   NaN          NaN
           bigger then 250        425.0  447762.0   5.1  2019.195742
2013-01-06 within 50                NaN       NaN   NaN          NaN
           within 100              55.0   88405.0   1.0    67.358127
           within 150               NaN       NaN   NaN          NaN
           within 200               NaN       NaN   NaN          NaN
           within 250               NaN       NaN   NaN          NaN
           bigger then 250         55.0   89614.0   1.0   386.359957
2013-01-07 within 50                NaN       NaN   NaN          NaN
           within 100               NaN       NaN   NaN          NaN
           within 150               NaN       NaN   NaN          NaN
           within 200               NaN       NaN   NaN          NaN
           within 250               NaN       NaN   NaN          NaN
           bigger then 250         58.0   87105.0   0.1   311.870950

In [28]:
new_group = bin_group.sum().dropna()

In [29]:
new_group.sum().head()

overall_aqi    7.118750e+05
fire_id        1.236969e+09
size           9.855783e+05
distance       2.757074e+06
dtype: float64

In [36]:
new_group.head(20)

            date  overall_aqi   fire_id  size    distance             bins
0     2013-01-01           66   86781.0  0.10  304.658747  bigger then 250
1     2013-01-01           66   89616.0  1.00  395.689071  bigger then 250
2     2013-01-01           66   89889.0  1.00  439.916187  bigger then 250
3     2013-01-02           61   87714.0  0.30  524.945435  bigger then 250
4     2013-01-05           85   88404.0  1.00   67.354106       within 100
5     2013-01-05           85   88581.0  0.10  176.053789       within 200
6     2013-01-05           85   89215.0  1.00  409.294978  bigger then 250
7     2013-01-05           85   89315.0  2.00  409.435828  bigger then 250
8     2013-01-05           85   89500.0  1.00  112.686684       within 150
9     2013-01-05           85   89508.0  1.00  405.850962  bigger then 250
10    2013-01-05           85   89720.0  1.00  437.395332  bigger then 250
11    2013-01-05           85   90004.0  0.10  357.218643  bigger then 250
12    2013-01-06           55   88405.0  1.00   67.358127       within 100
13    2013-01-06           55   89614.0  1.00  386.359957  bigger then 250
14    2013-01-07           58   87105.0  0.10  311.870950  bigger then 250
15    2013-01-08           76   87333.0  0.10  317.927342  bigger then 250
16    2013-01-08           76   87713.0  0.10  303.102515  bigger then 250
17    2013-01-08           76   89039.0  0.50  397.625230  bigger then 250
18    2013-01-09           68   89411.0  0.10  398.591859  bigger then 250
19    2013-01-10           35   88605.0  0.10   36.559057        within 50
20    2013-01-10           35   89236.0  0.10  378.371253  bigger then 250
21    2013-01-11           45   88591.0  0.10  121.538349       within 150
22    2013-01-11           45   88598.0  1.00  438.516344  bigger then 250
23    2013-01-11           45   89327.0  0.10  185.878850       within 200
24    2013-01-12           48   87261.0  4.00  447.944526  bigger then 250
25    2013-01-12           48   87719.0  0.10  396.960515  bigger then 250
26    2013-01-12           48   89521.0  0.50   60.493923       within 100
27    2013-01-12           48   90002.0  0.10  365.266958  bigger then 250
28    2013-01-13           55   87054.0  0.10  406.341306  bigger then 250
29    2013-01-13           55   87315.0  0.10  303.272042  bigger then 250
...          ...          ...       ...   ...         ...              ...
13184 2014-12-21           43   97285.0  0.01  412.934343  bigger then 250
13185 2014-12-22           45   97286.0  1.00  381.002671  bigger then 250
13186 2014-12-22           45   99714.0  0.01  404.696860  bigger then 250
13187 2014-12-23           47   95797.0  0.10  439.655973  bigger then 250
13188 2014-12-23           47   95798.0  0.10  466.628242  bigger then 250
13189 2014-12-23           47   97544.0  1.00  417.629378  bigger then 250
13190 2014-12-23           47   98602.0  0.10  417.869021  bigger then 250
13191 2014-12-23           47   98603.0  0.10  390.464352  bigger then 250
13192 2014-12-23           47  102585.0  1.00  437.083919  bigger then 250
13193 2014-12-24           48   95796.0  0.10  467.159206  bigger then 250
13194 2014-12-24           48   96642.0  1.00  445.884634  bigger then 250
13195 2014-12-25           35   94318.0  0.10  337.810054  bigger then 250
13196 2014-12-25           35   95025.0  1.00  254.406525  bigger then 250
13197 2014-12-25           35   98604.0  0.10   99.029233       within 100
13198 2014-12-25           35   99715.0  0.10  385.593565  bigger then 250
13199 2014-12-25           35   99716.0  0.10  453.898211  bigger then 250
13200 2014-12-26           47   94283.0  0.10  361.282968  bigger then 250
13201 2014-12-26           47   94316.0  0.10  343.986311  bigger then 250
13202 2014-12-27           55   94174.0  0.10  312.424085  bigger then 250
13203 2014-12-27           55   94284.0  0.10  361.864282  bigger then 250
13204 2014-12-27           55   97287.0  0.05  455.713774  bigger then 250
13205 2014-12-28           68   97288.0  0.10  107.353692       within 150
13206 2014-12-28           68   98605.0  0.01  404.074102  bigger then 250
13207 2014-12-30           31   95552.0  2.50  123.390558       within 150
13208 2014-12-30           31   98606.0  0.10  379.805278  bigger then 250
13209 2014-12-30           31   98607.0  0.01  112.418899       within 150
13210 2014-12-30           31   98608.0  0.01  113.311455       within 150
13211 2014-12-30           31   98609.0  0.25  103.958929       within 150
13212 2014-12-30           31   98610.0  0.01  158.439759       within 200
13213 2014-12-30           31   99717.0  0.01  153.578397       within 200

[13051 rows x 6 columns]

In [ ]:
# data.plot(x="distance", y="overall_aqi", kind="scatter")

In [ ]:
 data.plot.bar(x='bins', y='overall_aqi', rot=0)

In [ ]:
new_group.head()

In [ ]:
# new_group.reset_index().plot.bar(x='bins', y='overall_aqi', rot=0)

In [ ]:
combined_group = data.groupby(['date','fire_id'])

In [ ]:
combined_group.head()

In [ ]:
# verify that there's never more then one record for a particular fire-id on a particular day
combined_group.size().max()

In [ ]:
grouped_by_date = data.groupby(['date'])

In [ ]:
grouped_by_date.describe().head()

In [ ]:
grouped_by_date.sum()

In [ ]:
acres_per_day_df = data.groupby('date')['size'].sum().to_frame().reset_index()

In [ ]:
acres_per_day_df.head()

In [ ]:
# Manually spot-check a date

data[data['date'] == '2014-01-03']

In [ ]:
air_data_df = pd.read_sql("select * from aqi_data", con=engine)
air_data_df.head()

In [ ]:
merged_data_df = pd.merge(air_data_df, acres_per_day_df, on='date')

In [ ]:
merged_data_df.head()

In [ ]:
merged_data_df.to_sql(name="acres_and_air_data", con=engine, if_exists="replace")