# Create database table of wind (aqi_data)
### This notebook reads in .csv files with air quality info-- one file per year 2001 to 2015-- and writes the information to database table "aqi_data" in the table "fires"

In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

## Note: 
Make sure to replace the password and user name below with yours!

In [2]:
# For years 2010 to 2015, read csv into dataframe, transform, & load into database
# We are only going to 2015 because that's where our wildfire data ends


for year in range(2001, 2015):
    # read csv
    file_aqi = "data/air_quality_data/aqidaily" + str(year) + ".csv"
    aqi_data_df = pd.read_csv(file_aqi)
    
    # select first 4 columns & change their names
    aqi_data_df = aqi_data_df.iloc[: , 0:4]
    aqi_data_df.columns = ["date", "overall_aqi", "main", "site_name"]
    
    # drop unneeded column & add column with year
    aqi_data_df = aqi_data_df[["date", "overall_aqi", "site_name"]]
    aqi_data_df['year'] = year
    
    # convert date to type datetime
    aqi_data_df['date'] = pd.to_datetime(aqi_data_df['date'])
    
    # load into database
    rds_connection_string = "root:12345678@127.0.0.1/fires"
    engine = create_engine(f'mysql+pymysql://{rds_connection_string}')
    aqi_data_df.to_sql(name="aqi_data", con=engine, if_exists="append", index=False)

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [3]:
aqi_data_df.head()

        date  overall_aqi     site_name  year
0 2014-01-01          109  Oakland West  2014
1 2014-01-02           80  Oakland West  2014
2 2014-01-03           80  Oakland West  2014
3 2014-01-04           67  Oakland West  2014
4 2014-01-05           56     Livermore  2014