In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# read csv into dataframe
file_wildfires = "wildfire_data/wildfire_data_final.csv"
wildfire_df = pd.read_csv(file_wildfires)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
wildfire_df.head()

,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,CONT_DATE,FIRE_SIZE,FIRE_SIZE_CLASS,FIPS_NAME
0,Plumas National Forest,FOUNTAIN,2005,2453403.5,2453403.5,0.10,A,Plumas
1,Eldorado National Forest,PIGEON,2004,2453137.5,2453137.5,0.25,A,Placer
2,Eldorado National Forest,SLACK,2004,2453156.5,2453156.5,0.10,A,El Dorado
3,Eldorado National Forest,DEER,2004,2453184.5,2453189.5,0.10,A,Alpine
4,Eldorado National Forest,STEVENOT,2004,2453184.5,2453189.5,0.10,A,Alpine

In [4]:
wildfire_df.columns = ["reporting_unit", "fire_name", "fire_year", "discovery_date", "containment_date", "size", "class", "fips"]

In [5]:
wildfire_df = wildfire_df[["discovery_date", "containment_date", "size", "class", "fire_year", "fire_name"]]

In [6]:
wildfire_df.head()

   discovery_date  containment_date  size class  fire_year fire_name
0       2453403.5         2453403.5  0.10     A       2005  FOUNTAIN
1       2453137.5         2453137.5  0.25     A       2004    PIGEON
2       2453156.5         2453156.5  0.10     A       2004     SLACK
3       2453184.5         2453189.5  0.10     A       2004      DEER
4       2453184.5         2453189.5  0.10     A       2004  STEVENOT

In [7]:
wildfire_df.dtypes

discovery_date      float64
containment_date    float64
size                float64
class                object
fire_year             int64
fire_name            object
dtype: object

In [8]:
epoch = pd.to_datetime(0, unit='s').to_julian_date()

In [9]:
wildfire_df['discovery_date'] = pd.to_datetime(wildfire_df['discovery_date'] - epoch, unit='D')
wildfire_df['containment_date'] = pd.to_datetime(wildfire_df['containment_date'] - epoch, unit='D')

In [10]:
wildfire_df.dtypes

discovery_date      datetime64[ns]
containment_date    datetime64[ns]
size                       float64
class                       object
fire_year                    int64
fire_name                   object
dtype: object

In [11]:
rds_connection_string = "root:12345678@127.0.0.1/fires"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')
wildfire_df.to_sql(name="wildfire_data", con=engine, if_exists="append", index=True)

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)