In [1]:
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
rds_connection_string = "root:12345678@127.0.0.1/fires"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [3]:
data = pd.read_sql("select * from acres_and_air_data", con=engine)
data.head()

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

   index       date  overall_aqi      site_name  year   size
0      0 2001-01-01          153  San Francisco  2001    1.5
1      1 2001-01-02          140  San Francisco  2001    0.4
2      2 2001-01-03          140  San Francisco  2001    0.5
3      3 2001-01-04          107  San Francisco  2001    9.8
4      4 2001-01-05          124  San Francisco  2001  146.0

In [4]:
data = data[['date', 'overall_aqi', 'size']]
data.columns = ["date", "air_quality", "acres_burned"]
data.head()

        date  air_quality  acres_burned
0 2001-01-01          153           1.5
1 2001-01-02          140           0.4
2 2001-01-03          140           0.5
3 2001-01-04          107           9.8
4 2001-01-05          124         146.0

In [14]:
sorted = data.sort_values(by=['air_quality'], inplace=True, ascending=False)
type(sorted)

NoneType

In [5]:
# Assign the data to X and y

X = data[["acres_burned"]]
y = data["air_quality"].values.reshape(-1,1)
print(X.shape, y.shape)

(5110, 1) (5110, 1)

In [6]:
# Use train_test_split to create training and testing data

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [7]:
# Create the model using LinearRegression

model = LinearRegression()

In [8]:
# Fit the model to the training data and calculate the scores for the training and testing data

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.0012997708326897284
Testing Score: -0.00024817958777534344