# Create database table of wind (wind_data)
### This notebook reads in a .csv file with wind infoand writes the information to database table "wind_data" in the table "fires"

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# read csv into dataframe
file_wind = "data/weather_data/wind_data.csv"
wind_df = pd.read_csv(file_wind)

## Drop unnecessary columns and rename remaining columns

In [3]:
wind_df.head()

,STATION,NAME,DATE,AWND,FMTM,PGTM,WDF2,WDF5,WSF2,WSF5
0,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2000-12-01,3.58,1635.0,1634.0,280,280.0,14.1,16.1
1,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2000-12-02,2.91,1016.0,2356.0,20,220.0,8.1,8.9
2,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2000-12-03,3.80,517.0,516.0,10,10.0,13.0,14.1
3,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2000-12-04,2.91,2206.0,2204.0,10,10.0,8.9,10.1
4,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2000-12-05,4.03,702.0,702.0,360,360.0,10.1,12.1

In [4]:
wind_df.columns = "station", "name", "date", "avg_daily_wind_speed", "time_of_fastest", "pgtm", "direction_of_fastest_2_min", "direction_fastest_5_min", "fastest_2_min_speed", "fastest_5_min_speed"
wind_df.head(2)

,station,name,date,avg_daily_wind_speed,time_of_fastest,pgtm,direction_of_fastest_2_min,direction_fastest_5_min,fastest_2_min_speed,fastest_5_min_speed
0,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2000-12-01,3.58,1635.0,1634.0,280,280.0,14.1,16.1
1,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",2000-12-02,2.91,1016.0,2356.0,20,220.0,8.1,8.9

In [5]:
wind_df = wind_df[['date', 'avg_daily_wind_speed', 'fastest_2_min_speed', 'fastest_5_min_speed']]
wind_df.head()

         date  avg_daily_wind_speed  fastest_2_min_speed  fastest_5_min_speed
0  2000-12-01                  3.58                 14.1                 16.1
1  2000-12-02                  2.91                  8.1                  8.9
2  2000-12-03                  3.80                 13.0                 14.1
3  2000-12-04                  2.91                  8.9                 10.1
4  2000-12-05                  4.03                 10.1                 12.1

## Write to database

In [6]:
rds_connection_string = "root:12345678@127.0.0.1/fires"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')
wind_df.to_sql(name="wind_data", con=engine, if_exists="replace", index=True)

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)